body{
    color: black;
    background-color: bisque;
}
header{
    text-align: center;
    text-shadow: 2px 2px darkgrey;
    font-size: large;
    background-color: tan;
}
img{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
}
ul{
    text-align: left;
}

.Links{
    text-align: left, top;
    padding: 20px;
}